body{
    box-sizing: border-box;
    margin: 0;
    font-family:'Lato', sans-serif;
    position: relative;
}

.border{
    border: 1px solid #ccc;
    border-radius: 8px;
}

.padding-margin-lsbar-content{
    margin: 8px 0px;
    padding: 12px;
}
p{
    margin: 0;

}
.main{
    display: flex;
    flex-direction: row;
}

.left-side-bar{
    position: fixed;
    display: inline-flex;
    flex-direction: column;
    padding: 8px 12px 20px;
    border-right: 1px solid #ccc ;
    width: 14.3%;
    flex-grow: 14.3%;
    z-index: 1;
    background-color: #fff;
}

.left-side-bar .logo {
    margin-bottom: -12px;
    padding: 25px 12px 16px;
}

.left-side-bar .logo img{
    width: 64%;
    border-radius: 15px;
}

.left-side-bar .l-side-bar-content{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.left-side-bar .l-side-bar-content:hover{
    background-color: rgb(249 197 197);
    border-radius: 999px;
    cursor: pointer;
}


.left-side-bar .l-side-bar-content p{
    margin: 0;
    padding-left: 18px;
    font-size: 16px;
}


.left-side-bar .l-side-bar-content i{
    font-size: 23px;
    display: flex;
    align-items: center;
}

.l-side-bar-content:last-child{
    margin-top: 99px;
}



/* css main-content.main-content-post */

.main-content{
    /* margin: auto; */
    flex-grow: 6;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin-left: 254px;
}

.wrapper{
    display: flex;
    height: 1000px;
    width: 821px;
}

.main-content-post{
    display: flex;
    flex-direction: column;
    width: 470px;
    height: 800px;
    margin-top: 10px;
    margin-right: 32px;
    /* background-color: #ccc; */
}

.main-content-post .friends-story-wrapper{
    margin-top: 16px;
    padding: 16px 0px;
    height: 85px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.main-content-right{
    margin-top: 26px;
    width: 319px;
    height: 500px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9c5c5;
}

.friends-story-wrapper ul{
    display: flex;
    flex-wrap: nowrap;
    /* align-content: stretch; */
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.friends-story-wrapper ul li{
    list-style: none;
    padding: 4px;
}

.friends-story img{
    height: 56px;
    text-align: center;
    margin: auto;
    display: block;
    border-radius: 50%;
    border: 3px solid #f9c5c5;
}

.friends-story .user-name{
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.posts{
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    margin-top: 16px;
    padding-bottom: 20px;
}

.header-post{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0px 16px 0px 12px;
    border-bottom: 1px solid #ccc;
    border-radius: 3px;
}

.post-owner{
    height: 56px;
    display: flex;
    align-content: center;
}

.post-owner .avatar{
    display: flex;
    align-content: center;
}

.post-owner .name{
    display: flex;
    margin-left: 10px;  
}

.post-owner .name p{
    margin: 0;
    align-self: center;
    font-size: 13px;
    font-weight: 600;
}

.post-owner .avatar img{
    /* width: 32px; */
    max-width: 32px;
    border-radius: 50%;
    border: 3px solid #f9c5c5;
    align-self: center;
}

.header-post-more-icon{
    display: flex;
    align-items: center;
}

.header-post-more-icon i{
    opacity: 0.6;
}

.post-img{
    display: flex;
    justify-content: center;
}

.post-img img{
    align-self: center;
    max-width: 470px;
    max-height: 550px;
    display: inline-block;
    margin-bottom: -4px;
}

.post-desc{
    display: flex;
    flex-direction: column;
}

.reaction{
    padding: 0 4px 6px;
    margin-top: 4px;
    display: flex;
    height: 40px;
    justify-content: flex-start;
    border-top: 1px solid #ccc;
    border-radius: 2px;
}

.reaction i{
    padding: 8px;
    font-size: 22px;
}

.reaction i:last-child{
    margin-left: 308px;
}

.liked p{
    padding: 0 12px;
    font-size: 14px;
    font-weight: 400;
    opacity: 0.8;
}

.status{
    padding: 0 12px;

}

.status p{
    margin-bottom: 48px;

}

.status span{
    font-weight: 600;
    font-size: 14px;
    padding-right: 2px;
}

.date{
    padding: 0 12px;
    font-size: 12px;
    margin-bottom: 12px;
}







